{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true, // 支持jsx
      "modules": false
    }
  },
  "plugins": [
    "babel",
    "react"
  ],
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "strict": 0,
    "semi": [1, "always"],
    "quotes": [
      1,
      "single"
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-unused-vars": [
      1,
      {
        // 允许声明未使用变量
        "vars": "local",
        // 参数不检查
        "args": "none"
      }
    ],
    //必须使用 if(){} 中的{}
    "curly": [
      2,
      "all"
    ],
    "no-useless-constructor": 0,
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false
  }
}