@import './markdown.scss';
@import './highlight.scss';
@import './toc.scss';
.article {
    &.markdown-wrap {
        h1 {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
            text-align: center;
        }
        .article-meta-wrap {
            margin-bottom: 18px;
            font-size: 14px;
            color: rgba(122, 122, 122, 0.6);
            text-align: center;
            vertical-align: middle;
            .article-meta-container {
                margin: 8px auto 0;
                display: inline-block;
                padding-bottom: 8px;
                line-height: 1.2;
                border-bottom: 1px solid #eaecef;
                .meta-author {
                    color: rgba(51, 51, 51, 0.8);
                    padding-right: 16px;
                }
                .meta-date {
                    padding-right: 16px;
                }
                .space {
                    padding-right: 16px;
                    vertical-align: middle;
                }
                .meta-categories {
                    display: block;
                }
            }
        }
        .meta-categories {
            margin-top: 16px;
            color: rgba(122, 122, 122, 0.6);
            font-size: 14px;
            text-align: left;
            vertical-align: middle;
            .category-icon,
            .tag-icon {
                height: 18px;
                width: 18px;
                vertical-align: middle;
            }
            .category {
                margin: 0 5px;
                padding: 2px 8px;
                border-radius: 12px;
                color: rgba(122, 122, 122, 0.75);
                background-color: rgba(204, 204, 204, 0.45);
            }
            .tag-label {
                margin-left: 8px;
            }
            .tag {
                padding: 2px;
                color: rgba(122, 122, 122, 0.9);
            }
        }
    }
}