@import './variable.scss';
.article-toc {
    display: none;
    width: 100%;
    ul,
    li {
        list-style: none;
    }
    .article-toc-wrap {
        display: none;
        position: fixed;
        bottom: 0px;
        z-index: 100;
        padding: 0 0 30px;
        .toc-header {
            background-color: $backgroundColor;
            .toc-header {
                position: static;
            }
        }
        .toc-item-wrap {
            .toc-header {
                position: static;
            }
        }
    }
}

#toc_container {
    display: none;
}

@media screen and (min-width: 960px) {
    .article-toc {
        display: block;
        .article-toc-wrap {
            display: block;
        }
    }
}

@media screen and (max-width: 959px) {
    #toc_container {
        display: block;
    }
}